@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
// font-family: 'Kumbh Sans',sans-serif;

//Text 
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);


$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);


//Background gradient: 
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

//Dividers - 
$light-grayish-blue: hsl(240, 5%, 91%);



//breakpoints


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'Kumbh Sans',
    sans-serif;
    background: linear-gradient($soft-violet, $soft-blue);
    background-repeat: no-repeat;
    height:100vh;

}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}
.card {
    margin: 1.5rem;
    margin-top: 84px;

    //margin-top: 146px;
   
    background:white;
    border-radius:1.375rem;
    display:flex;
    flex-direction:column;

    filter: drop-shadow(0px 0px 50px $very-dark-grayish-blue);

    
    h1{
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin-bottom:12px;
        font-family: 'Kumbh Sans',
        sans-serif;

    }
    li{ 
        list-style: none;
        border-bottom: solid $light-grayish-blue 1px;
        padding: 17px 0;
         transition: 1s;
         font-family: 'Kumbh Sans',
         sans-serif;
    }
    .panel{
        padding-top:12px;
        padding-right: 14px;
        display: none;
        color:$dark-grayish-blue;
        line-height: 1.5;
        font-size: 12px;
        font-family: 'Kumbh Sans',
        sans-serif;
       
    }
    .button {
        display: flex;
        color: $very-dark-grayish-blue;
        justify-content: space-between;
        img{
          object-fit: contain;
        }
        cursor: pointer;
        background-color: white;

        &:hover{
            color:$soft-red
        }
    }
    .show{
        display:block;
    }
    .hide{
        display:none;
    }
    .active{
        font-weight: 700;
        img{
            transform: rotate(180deg);
        }
    }
    .left{
        position: relative;
        background: url('./images/bg-pattern-mobile.svg');
        height: 110px;
        background-repeat: no-repeat;
        background-position: top center;
        text-align: center;
       
        
        .mobile-image {
            position: relative;
            top: -107px;
            object-fit: contain;
            object-position: center;
            margin-right: 29px;
            
        }
        .image-wrapper{
            display: none;
        }
        .box{
            display: none;
        }
    }
    .right{
        //  padding: 1.5rem;
          padding: 28px 16px 48px 16px;
         
         
    }
}

@media screen and (min-width:1000px){
    .card{
        font-size: 14px;
        flex-direction: row;
        width: 916px;
        margin:0;
        >div{
           width:100%;
        }
      
        margin-left: 42px;
        .right{
            padding:64px;
            padding-right:108px;
            padding-left: 64px;
            padding-bottom: 84px;
        };
        .left{
            height: auto;
            width: 100%;
            .box{
                display: block;
                position: absolute;
                top:40%;
                left:-23%;
                z-index: 2;
            }
             .image-wrapper {
                 display: block;
                 position: relative;
                 overflow: hidden;
                 width: 100%;
                 height: 100%;

                 img {
                     position: absolute;
                     left: -21%;
                     top:13%;
                 }
             }
          
            background: url('./images/bg-pattern-desktop.svg');
            background-position: -573px -302px;
            background-repeat: no-repeat;
        }
        h1{
            text-align: left;
            margin-bottom: 20px;
        }
        .mobile-image{
            display: none;
        }
       
    }
}