@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

$DesaturatedRed:hsl(0,36%,70%);
$SoftRed:hsl(0,93%,68%);

$DarkGrayishRed: hsl(0, 6%, 24%);

$gradient1:linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient2:linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

*, *::before, *::after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Josefin Sans',
        sans-serif;
}
body{
    height: 100vh;
     background-image: url("./images/bg-pattern-desktop.svg"),
     $gradient1;
     background-size: cover,
     cover;
}
footer{
    position: relative;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
}
main{
    height:100%;
  
    h1 {
        margin-top: 60px;
        text-align: center;
        font-size: 38px;
        text-transform: uppercase;
        letter-spacing: 12px;
        line-height: 42px;

        span {
            display: block;
            font-weight: 400;
        }

        span:nth-child(1) {
            font-weight: 300;
            color: $DesaturatedRed;
        }
    }

    p {
        padding: 18px 32px;
        font-size: 14px;
        text-align: center;
        color: #ce9797;
        line-height: 21px;
        color: $DesaturatedRed;
    }

    header {
        height: 84px;
        padding: 32px;

        img {
            height: 22px;
        }
    }

    .hero {
        img {
            width: 100%;
            height: auto;
        }

    }

}



.form{
    margin: 18px 32px;
    position: relative;

    input[type=email] {
        border: none;
        background-color: transparent;
        font-family: 'Josefin Sans',
            sans-serif;
        padding: 12px 0 14px 20px;
        letter-spacing: 0.4px;

        color: black;
        flex-grow: 1;



        &::placeholder {
            color: $DesaturatedRed;
        }

    }
    .error-icon{
        display: none;
    }
    .info{
         padding: 12px 0 14px 20px;
         color: $SoftRed;
    }

    input[type=email]:focus {
        outline: none;
    }


    .email-form{
        display: flex;
        align-items: center;
        gap: 15px;
          border-radius: 24px;
          border: 1px solid $DesaturatedRed;

    }
    .email-form:focus{
         border: 1px solid $DesaturatedRed;
         background-color: pink;
    }
    button{
        border: none;
        background-color: $SoftRed;
        border-radius: 24px;
        background-image: $gradient2;
        height: 44px;
        width: 62px;
        text-align: center;
    }
    button:hover{
       box-shadow: 5px 5px 10px $DesaturatedRed;
    }
}
.hilite{
    outline: 1px solid $SoftRed;

}
 
@media screen and (min-width:500px) {
    main{
        display: flex;
        justify-content: space-between;

          h1 {
              margin-top: 0;
              text-align: left;
              font-size: 64px;
              letter-spacing: 17.5px;
              line-height: 68px;


          }

          header {
              height: auto;
              margin-bottom: 25vh;
              padding: 0;

              img {
                  height: 33px;
              }
          }


          p {
              padding: 25px 0;
              font-size: 16px;
              text-align: left;
              line-height: 26px;
              max-width: 45ch;
          }


    }
    .container{
        padding: 6.5rem 16.5rem;
        flex-grow: 1;
      
    }
    .hero{
        display: none;
    }
  
    picture{
        height: 100%;
        img{
            object-fit: cover;
            height: 100%;
        }
    }

    .form {
        margin: 1.8rem 0;
        position: relative;

        input[type=email] {
            border: none;
            background-color: transparent;
            font-family: 'Josefin Sans',
                sans-serif;
            padding: 12px 0 14px 20px;
            letter-spacing: 0.4px;

            color: black;
            flex-grow: 1;



            &::placeholder {
                color: $DesaturatedRed;
            }

        }

        .error-icon {
            display: none;
        }

        .info {
            padding: 12px 0 14px 20px;
            color: $SoftRed;
        }

        input[type=email]:focus {
            outline: none;
        }


        .email-form {
            display: flex;
            align-items: center;
            gap: 15px;
            border-radius: 27px;
            border: 1px solid $DesaturatedRed;

        }

        .email-form:focus {
            border: 1px solid $DesaturatedRed;
            background-color: pink;
        }

        button {
            border: none;
            border-radius: 27px;
            height: 54px;
            width: 100px;
            text-align: center;
        }
    }
    
}