@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
}

main {
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  text-align: center;
  padding: 24px;
  display: -ms-grid;
  display: grid;
  gap: 42px;
}

.hero h1 {
  margin-top: 56px;
  margin-bottom: 24px;
  color: #502050;
  line-height: 1.1;
  font-size: 30px;
}

.hero p {
  color: #937b92;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
}

.rating {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.rating .card {
  width: 100%;
  padding: 16px;
  background-color: #f7f2f7;
  border-radius: 8px;
  font-weight: 700;
  font-size: 13px;
  color: #502050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rating .card .stars {
  padding: 0;
  margin: 0;
}

.rating .card .stars img {
  padding: 2px;
}

.reviews {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.reviews .card {
  background: #502050;
  border-radius: 10px;
  padding: 32px;
  width: 100%;
}

.reviews .card .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .card .title img {
  border-radius: 100%;
  width: 40px;
}

.reviews .card .title span {
  padding: 12px 23px;
}

.reviews .card .title span h2 {
  color: white;
  font-weight: 700;
  font-size: 13px;
  padding-bottom: 5px;
}

.reviews .card .title span h3 {
  color: #ee68a4;
  font-weight: 400;
  font-size: 13px;
}

.reviews .card .details {
  padding: 0;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 16px;
  letter-spacing: -0.8px;
  font-weight: 500;
  color: white;
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
  }
  .hero h1 {
    margin-top: 0;
    padding: 0;
    color: #502050;
    line-height: 1.1;
    font-size: 46px;
  }
  main {
    padding: 130px 164px;
    text-align: left;
    gap: 70px 30px;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  main .hero {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
  main .hero h1 {
    font-size: 45px;
    margin-bottom: 12px;
  }
  main .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 0;
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8 / 13;
  }
  main .rating .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    padding: 20px 30px;
    line-height: 0;
  }
  main .rating .card:nth-child(1) {
    margin-left: -96px;
  }
  main .rating .card:nth-child(2) {
    margin-left: -48px;
  }
  main .rating .card:nth-child(3) {
    margin-left: 0px;
  }
  main .reviews {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
  main .reviews .card {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  main .reviews .card:nth-child(1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  main .reviews .card:nth-child(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main .reviews .card:nth-child(3) {
    margin-top: 34px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
/*# sourceMappingURL=style.css.map */